.bestquiz .card {
    margin: 0 auto;
    border: 0px;
    background-color: #00000000;
    }
    
a{
        text-decoration: none !important;
        
    }
    
    .card-quiz{
        width: 60%;
    }
    .bestquiz .card:hover {
    
        z-index: 5;
        transform: scale(1.05);
        transition: 1s;
    }
     
    .bestquiz img{
        border-radius:15px;
        border: 1px;
        object-fit: cover;
        cursor: pointer;
    }
    
    .bestquiz .titre-quiz{
        text-align: center;
        color: aliceblue;
        text-shadow:0 4px 0 #000000;
        font-size: 3rem;
    }
    
    .bestquiz .titre-quiz {
        
        position: relative;
    }
    
    .bestquiz .titre-quiz span{
        font-size: 4.5rem;
        color: #0a2461;
        text-shadow:0 0 10px  #ffffff;
        text-shadow: 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff, 0 0 2px #ffffff;;
    }
    
    

    
    .bestquiz .titre-quiz:hover {
        
    
        /* transform: translate(-60%, -60%);     */
    }

    @media screen and (max-width:1570px) {
        .bestquiz .titre-quiz span{font-size: 3.5rem;}
        .bestquiz .titre-quiz{font-size: 2.5rem;}
    }

    @media screen and (max-width:1200px) {
        .card-quiz{width: 70%;}
        .bestquiz .titre-quiz span{font-size: 3.1rem;}
        .bestquiz .titre-quiz{font-size: 2.1rem;}
    }
    
    @media screen and (max-width:900px) {
        .card-quiz{width: 75%;}
        .bestquiz .titre-quiz span{font-size: 3rem;}
        .bestquiz .titre-quiz{font-size: 1.8rem;}
    }
    
    @media screen and (max-width:700px) {
        .card-quiz{width: 80%;}
        .bestquiz .titre-quiz span{font-size: 2.7rem;}
        .bestquiz .titre-quiz{font-size: 1.8rem;}
    }
    @media screen and (max-width:500px) {
        .card-quiz{width: 90%;}
        .bestquiz .titre-quiz span{font-size: 2rem;}
        .bestquiz .titre-quiz{font-size: 1.4rem;}
    }
    
    @media screen and (max-width:350px) {
        .card-quiz{width: 100%;}
        .bestquiz .titre-quiz span{font-size: 1.7rem;}
        .bestquiz .titre-quiz{font-size: 1.1rem;}
    }
    