@font-face {
    font-family: "font-2";
    src: url(../assets/OleoScriptSwashCaps-Regular.ttf);
  }

.dashbord{
    display: flex;
    max-width: 1220px;
    margin: 50px auto;
    /* padding: 20px 30px; */
    min-height: 500px;
    background: rgba(255, 255, 255, 0.9);
    border-top: 1px solid #ffffff6e;
    border-left: 1px solid #ffffff6e;
    border-radius: 40px;
    color: #003461;
  }
.dashbord ul{
padding: 0 ;
}

  .dashbord h2{
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }

  .contenair-info h3{
padding-right: 15px;
  }

  .menu{
    padding: 20px 30px;
    /* border-top: 1px; */
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    background-color: rgb(0, 52, 97);
    width: 350px;
    color: white;
    min-height: 739px;
  }

  .menu ul {
    padding-top: 20px;
    padding-left: 0;
  }


.menu ul li{
    list-style: none;
    padding-top: 40px;
    cursor: pointer;
  }

  .nom-prenom{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

.nom-prenom h4{
font-family: "font-2",'Courier New', Courier, monospace;
/* padding-right: 15px; */
padding-top: 5px;
}

.profil-menu{
    text-align: center;
    padding-top: 30px;
}

.status{
    font-size: 10pt;
    color: rgb(189, 189, 189);
}

.contenair-espace{
    padding: 30px;
    /* padding-left: 70px; */
    width: 100%;
}

.contenair-espace span{
    color: #EB9202;
    font-family: "font-2",'Courier New', Courier, monospace;
    font-size: 20pt;
}

.contenair-espace h2{
    font-family: "font-2",'Courier New', Courier, monospace;
    font-size: 40pt;
    padding-left: 50px;
    padding-top: 30px;
}

.contenair-espace ul li{
    list-style: none;
    padding-bottom: 10px;
}
.contenair-espace h3{
  width: 3  5%;
}

.menu li{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.menu li:hover{
    text-decoration: none;
    color: wheat !important;
}

.menu li:visited{
    text-decoration: none;
}

.menu li.nav-active{
    color: #EB9202;
}

.info-perso{
  padding: 20px;
  display: flex;
border: 2px solid;
border-radius: 20px;
  margin-bottom: 40px;
}
.contenair-info{
  padding-top: 50px;
  padding-bottom: 30px;
}


.coordonne{
  padding: 20px;
  display: flex;
border: 2px solid;
border-radius: 20px;
  margin-bottom: 40px;
}

.autre-info{
  padding: 20px;
  display: flex;
border: 2px solid;
border-radius: 20px;

}
ul{
  margin-bottom: 0 !important;
}

.icon-espace{
  position: absolute;
right: 100px;
font-size: 20pt;
cursor: pointer;
}

.edit-button{
cursor: pointer;
  position: relative;
margin-top: 5px;
border: 1px solid;
padding-left: 5px;
padding-right: 5px;
border-radius: 10px;
background-color: #EB920226;
user-select: none;
}
.edit-button:hover{
  background-color: #eb9202b0;
}

.line-inf{
  display: flex;
  justify-content: space-between;
}

.info-perso ul {
  width: 100%;
}
.separateur{
  border-bottom: 1px solid;
  width: 100%;
}



.modif-contenaire{
width: 100%;
}
.modif-contenaire h2{
  font-family: "font-2",'Courier New', Courier, monospace;
  font-size: 40pt;
  margin-bottom: 0;
  /* padding-left: 50px; */
  padding-top: 30px;
}


.formulaire-upadate{
  display: flex;
justify-content: center;
margin-top: 20px;
}
.champ-update{
  max-width: 400px;
  text-align: center;
}
.champ-update .form-group{
  margin-bottom: 15px;
  height: 80px;
  flex-direction: column;
}

.champ-update .form-control{
  height: inherit;
}

.champ-update .btn{
  height: 50px;
width: 200px;
margin-top: 35px;
}

@media screen and (max-width:1000px) {
  .menu{
    width: 265px;
  }

  .menu ul{
    font-size: 16pt;
  }

.info-perso{
  flex-direction: column;
}
.coordonne{
  flex-direction: column;
}
.autre-info{
  flex-direction: column;
}
.contenair-espace h3{
  text-align: center;
  padding: 0;
}
}

@media screen and (max-width:700px) {
  .dashbord{
    flex-direction: column;
  }

  .menu{
    display: flex;
    min-height: fit-content;
    width: 100%;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-left-radius: 0px;
  }

  .menu h2{
    display: none;
  }
  .menu .profil-menu{
    display: none;
  }
  .menu p{
    display: none;
  }
  .menu nav{
    width: 100%;
  }
  .menu ul{
    padding-top: 0;
    display: flex;
    justify-content: space-between;
  }
  .menu ul li{
    padding-top: 0;
  }

  .contenair-espace{
    padding: 20px;
  }

  .contenair-espace h2{
    display: none;
  }
  .contenair-info{
    padding-top: 25px;
  }
}

@media screen and (max-width:600px) {
.dashbord .menu{
  font-size: 16pt;
}
.modif-contenaire h2{
  font-size: 35pt;
}

}

@media screen and (max-width:500px) {
.dashbord .menu{
  padding: 20px 15px;
  font-size: 14pt;
}
.modif-contenaire h2{
  font-size: 30pt;
}
.formulaire-upadate{
  margin-top: 0;
}
}
@media screen and (max-width:400px) {
  .menu ul{
    font-size: 14pt;
  }

  .form-modif{
    width: 90% !important;
  }

  .dashbord .menu{
    font-size: 12pt;
  }
  .info-perso{
    padding: 10px;
  }
  .coordonne{
   padding: 10px;
  }
  .autre-info{
    padding: 10px;
  }
  .contenair-info h3{
    font-size: 15pt;
  }
  .contenair-info .line-inf{
    font-size: 14pt;
  }
  .contenair-info .line-inf span{
    font-size: 16pt;
  }
  .coordonne div{
    font-size: 14pt;
  }
  .coordonne div span{
    font-size: 16pt;
  }
  .autre-info div{
    font-size: 14pt;
  }
  .autre-info div span{
    font-size: 16pt;
  }
  }


  @media screen and (max-width:350px) {
    .contenair-info h3{
      font-size: 14pt;
    }
    .contenair-info .line-inf{
      font-size: 13pt;
    }
    .contenair-info .line-inf span{
      font-size: 15pt;
    }
    .coordonne div{
      font-size: 13pt;
    }
    .coordonne div span{
      font-size: 15pt;
    }
    .autre-info div{
      font-size: 13pt;
    }
    .autre-info div span{
      font-size: 15pt;
    }
    .menu ul{
      font-size: 12pt;
    }
    }

  @media screen and (max-width:300px) {

    .form-modif{
      width: 80% !important;
    }

    .dashbord .menu{
      font-size: 11pt;
    }

    .champ-update .btn{
      height: 42px;
      width: 130px;
    }

    .contenair-info h3{
      font-size: 13pt;
    }
    .contenair-info .line-inf{
      font-size: 12pt;
    }
    .contenair-info .line-inf span{
      font-size: 14pt;
    }
    .coordonne div{
      font-size: 12pt;
    }
    .coordonne div span{
      font-size: 14pt;
    }
    .autre-info div{
      font-size: 12pt;
    }
    .autre-info div span{
      font-size: 14pt;
    }
    .menu ul{
      font-size: 11pt;
    }
    }
  
