   .footercontenu{
    background-color: #011c39;
    position: relative; 
    width: 100%;
    bottom: 0;
    color: white;
    height:5%;   
    margin: 0;
    margin-top: 70px;
    /* mix-blend-mode: lighten; */

 }
 .footercontenu h5{
   font-size: 10pt;
 }

 .logo-footer{
   width: 400px;
   margin-top: 20px;
   text-align: justify;
   display: flex;
   flex-direction: column;
   align-items: center;
 }

 .logo-footer p{
   font-size: 10pt;
 }

 .footer-top{
   display: flex;
   justify-content: space-evenly;
   margin-bottom: 60px;
 }
 .footer-nav{
   padding-top: 20px;
 }
 .footer-top h4{
   color: #8deffa;;
   margin-bottom: 30px;
   text-transform: uppercase;
 }

 .footer-inscription{
   margin-top: 20px;
   display: flex;
flex-direction: column;
align-items: center;
text-align: center;
 }

 .footercontenu p{
   font-size: 10pt;
   margin: 0;
   padding: 0;
 }

 .row{
    text-decoration: none;
    display:  flex;
    justify-content: space-between;
    

}
.copy{ 
   justify-content :center;
   background-color: black;
   margin-right: 0 !important;
}

.contenu-footer ul{
  padding: 0;
}

 .lien{
        color: white; 
        text-decoration: none;
         padding-bottom: 15px;
     }
  
.lien-inscription{
      color: #EB9202; 

}
 .socialMedia{
   width: 50px;
   padding: 5px;
   margin-left: 35px;

 }


.liste-media { 
   margin-top: 50px;
   padding-bottom: 50px;
   position: relative;
   list-style: none;
   display: flex;
   justify-content: space-around;
     }  
       
.liste-media li{
   font-size: 1.2rem;
   width: 50px;
   height: 50px;
   background-color: #ffffff17;
   border: 1px solid #ffffff66;
   border-right: 1px solid #ffffff33;
   border-bottom: 1px solid #ffffff33;
   display: flex;
   text-decoration: none;
   justify-content: center;
   align-items: center;
   color: #fff;
   border-radius: 6px;
   box-shadow: 0 5px 30px #004683e0;
   transition: 0.5s;
   overflow: hidden;
}

.liste-media li:hover{
   transform: translateY(-20px);
   cursor: pointer;
}

     
    .logoFooter{
      width: 65%;
      mix-blend-mode: lighten;
    }


.reseau{
   width: 30%;
   text-align: center;
}
.footer-mid{
   display: flex;
   justify-content: center;
   padding-bottom: 40px;
}

.cgu-footer{
   display: flex;
   justify-content: center;

}
.lien-cgu{
   color: white;
   padding-right: 10px;
}

@media screen and  (max-width:1300px){
  .reseau{
    width: 40%;
  }
  
} 

@media screen and (max-width:950px) {
  .reseau{
    width: 60%;
  }
  .footer-top{
    flex-direction: column;
    align-items: center;
  }
  }

@media screen and (max-width:570px) {
  .reseau{
    width: 100%;
  }
}
 
@media screen and (max-width:450px) {
 .logo-footer{
  width: 100%;
 }
}


   