.quiz-jouer{
margin-top: 70px;
text-align: center;
}
.box-reponse{
margin-top: 15px;
margin-bottom: 15px;
}
.cardQuiz{
  width: 67%;
  /* min-height: 710px; */
  background: rgb(255,255,255);
  background: linear-gradient(33deg, rgba(255,255,255,1) 0%, rgba(179,232,229,1) 12%, rgba(59,171,181,0.95) 30%, rgba(38,32,100,1) 86%, rgba(9,31,31,1) 100%); 
  border-radius: 35px;
  padding: 40px 60px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  font-family:"font-1";
  
}
.cardQuiz h2{
  font-size: 45pt ;
}

.affichage-finquiz{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 450px;
}

.cardQuiz h2 span{
  font-size: 60pt;
  color: #be7b0c;
}

.cardQuiz h5{
 font-size: 2rem;
 text-align: right;
}

.cardQuiz h3{
font-size: 2.5rem ;
}
.button-reponse ul li{

  font-size: 50pt;
}

.card .nb-question{
 text-align: center;
 /* margin-bottom: 25px; */
}

.btn-reponse{
  width: 100% ;
  font-size: 20pt;
}
.btn-valider{
  width: 30%; 
  height: 60px;
}

.cardQuiz ul{
  margin: 0;
  padding: 0;
}
.card-question{
  display: flex;
align-items: center;
}

.card-body h3{
  /* margin-top: 45px; */
}

@font-face {
  font-family: "font-1";
  src: url(../assets/Dongle-Regular.ttf);
}

/* .header-quiz{
  display: flex;
 height: 200px;
  overflow: hidden; 

}
 .header-quiz img{
  border: 1px;
  border-radius: 15px;
  height: 200px;
}  */

.cardQuiz .btn-outline-primary{
  color: #fff;
}


.cardQuiz h4{
  padding: 0;
} 


.content-card{
  width: 100%;
}

.content-card .btn-success{
  width: 40% ;
  height: 60px;
}




.content-card img {
  width: 35%;
  border:1px;
   border-radius: 15px;
}


.img-question{
  width: 100%;
  border: 1px;
border-radius: 15px;
}

.cardQuiz .img-fluid{

  max-height: 235px;
}


/* reponsive */

@media screen and (max-width: 1500px) {
             
  .cardQuiz{
    width: 75%;
  }

  }

  @media screen and (max-width: 1200px) {
             
    .cardQuiz{
      width: 80%;
    }
    .cardQuiz h2 {
      font-size: 53pt;
    }
    .cardQuiz h3 {
      font-size: 20pt;
    }
    .cardQuiz h4{
      font-size: 15pt;
    }
    }

    @media screen and (max-width: 1000px) {
             
      .cardQuiz{
        width: 90%;
      }
      .content-card img{
        width: 40%;
      }
      .cardQuiz h5{
        font-size: 1.3rem;
      }
      .cardQuiz h3{
        font-size: 15pt;
      }
    }

      @media screen and (max-width: 800px) {
             
        .cardQuiz{
          width: 98%;
          padding: 26px 10px 30px;
        }
    
        .cardQuiz h2 {
          font-size: 45pt;
        }
        .cardQuiz h3 {
          font-size: 17pt;
        }
        .cardQuiz h4{
          font-size: 12pt;
        }

        .content-card .btn-success{
          /* width: 70% ; */
          height: 52px;
        }
        .content-card img{
          width: 45%;
        }

        }

        @media screen and (max-width: 600px) {
             .quiz-jouer{
              margin-top: 50px;
             }

          .cardQuiz{
            width: 100%;
          }
          .cardQuiz h2 {
            font-size: 33pt;
          }
          .cardQuiz h3 {
            font-size: 13pt;
          }
          .cardQuiz h4{
            font-size: 10pt;
          }

          .content-card .btn-success{
            width: 200px ;
            height: 45px;
          }

            .content-card img{
              width: 65%;
            }
            .btn-reponse{
              font-size: 10pt !important;
            }
            .box-reponse{
              /* margin: 1.2rem !important; */
            }
          }

          @media screen and (max-width: 400px) {
            .content-card .btn-success{
              width: 90% ;
              height: 45px;
            }
            .btn-reponse{
              font-size: 9pt !important;
              padding: 0.35rem !important;
            }
          }

@media screen and (max-width: 770px) {
           
  .cardQuiz {
      width: 98%;
      /* height: 1000px; */
      display : inline-block; 
    }
    .btn-reponse{
      font-size: 16pt;
    }
    .box-reponse{
      width: 40%;
      margin: 10px;
    }
    .liste-question{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .img-question{
      width: 40%;
    }
    .btn-valider{
      width: auto;
      height: auto;
    }

  }

  @media (hover : hover){
    .cardQuiz .btn-outline-primary:hover{
      color: #fff;
      background-color: #317AC1;
      transform: scale(1.05);
      transition: 0.5s;
    }
    .content-card .btn-success:hover{
      transform: scale(1.1);
      transition: 0.5s;
    }
  }