.recherche{
    width: 300px;
}
.result{
    width: 413px;
    position: absolute;
    background-color: #3179c1d7;
    list-style: none;
    padding: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    z-index: 1000;
    text-align: center;
}


 /* ul{
    list-style: none;
    padding: 2rem;
} */

.result li{
    padding-top: 10px;
    padding: 1.2rem;
    font-size: 14pt;
}