.slogan {
  font-family: 'Waiting for the Sunrise', cursive; 
  margin: 5px 30px; 
  letter-spacing: 5px; 
  font-weight: bolder;
  color: #EB9202;
  margin-top: 5%;
  margin-bottom: 5%;
text-align: center;
}
/* .slogan:hover {
  color: #EB9202;
} */
